*{
	padding:0;
	margin:0;
}
.swiper{
	margin:0 auto;
	position:relative;
}
.menban{
	width:100%;
	height:700px;
	position:absolute;
	top:0;
	left:0;
	background-color: rgba(0,0,0,0.3);
}
.bg-top{
	object-fit: cover;
}
/* .xuanyan{
	flex-direction: column;
	position:absolute;
	top:40%;
	left:30;
	width:455x;
	z-index:25;
} */
.nav-one{
	position:absolute;
	top:0;
	left:0;
	right:0;
	margin: auto;
	justify-content: space-between
}
.four_area{
	background: #1B1F25;
}
 /* background-size:contain; background-repeat:no-repeat; */
 .xuanyan{
	 height:600px;
 }
/* .One_Tw0{
	 position: relative;
	 z-index: 1;
 } */
 .two{
 	position: relative;
 	top: -120px;
 	left: 0;
 	right: 0;
	
 }
.three{
	height: 254px;
 }
 .yinying{
	 height:100%;
	 background-image:linear-gradient(to right, rgba(0,0,0,0.7),rgba(0,0,0,0)); 
 }

.five1{
	clip-path: polygon(5% -492%, 100% 0%, 0% 675%, 0% 0%);
}
.img1{
	position:relative;
}
.text_six{
	position:absolute;
	top:20%;
	left:15%;
}
@media screen and (max-width:768px){
	.area_left {
		/* display: none; */
		background-color: #1B1F25;
		margin-bottom: 15px;
	}
}
@media screen and (min-width:769px) and (max-width:1200px){
	.area_left{
	/* 	background-color: aqua; */
	}
}
@media only screen and (min-width:1201px){
	.area_left{
	/* 	background-color: aqua; */
		margin-bottom: 0px;
	}
}
.nav2{
	height:200px;
}